#vistaReporte fieldset{
    display: flex;
    flex-direction: row;    
}

#vistaReporte legend{
    margin-left: 2.3%;
}

#vistaReporte nav{
    width: 25%;
}

#vistaReporte nav a{
    display: block;
    width: 94%;
    
    margin: auto;
	text-align: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    
    border-radius: 18px;
    border-color: rgba(32,32,255,0.5);
    border-style: solid;
    border-width: 4px;

}

#vistaReporte nav a:hover{
/*     box-shadow: 0 0 15px rgba(0,0,255, 1); */
    box-shadow: 0 0 15px rgba(128,128,128, 0.8);
    border-color: rgba(255,255,255,0.8);
    cursor: pointer;
    
    color: rgba(255,255,255,1);
    
    transform: translateX(0.2em);
}

#vistaReporte div[id^="vistaListar"] {
    width: 75%;
    margin-top: -7%;
    margin-bottom: 2%;
}

#vistaReporte h3{
	 font-size: 1.5em;
	 color: rgba(255, 255, 255, 0.8);
	 text-align: center;
	 margin-block-end: 2%;
}

#vistaReporte  .tScroll{
    width: 100%;
    max-height: 440px;
    overflow-y: auto;
    overflow-x: hidden; 
}

#vistaReporte table{
	margin: auto;
	width: 99%;
		
	border-color: rgba(128,128,255, 0.5);
    border-style: solid;
    border-width: 4px;
	
    color: rgba(255, 255, 255, 0.8);     
}

#vistaReporte table tr:nth-child(even) {
    background-color: rgb(152 153 179 / 86%);
}

#vistaReporte table tr:nth-child(odd) {
    background-color: rgba(130, 130, 130, 0.2);
}

#vistaReporte table thead tr th{
	border: 1px solid rgba(170, 170, 170, 0.5);
	text-align: center;
    font-size: 1.1em;
    background-color: rgb(38 41 156 / 50%);
}

#vistaReporte table tbody tr td{
	border: 1px solid rgba(170, 170, 170, 0.5);
	text-align: left;
    font-size: 0.9em;
}



